@import "normalize.css";

/**
* Base site styles
*/
html {
  height: 100%;
}

body {
  font-family: Roboto, system-ui, sans-serif;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}


h3 {
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 13px;
  font-weight: 500;
}

/**
* Cancel default list styles
*/
ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/**
* Floating shorthands
*/
.fl_l {
  float: left;
}

.fl_r {
  float: right;
}

.button {
  padding: 12px 35px;
  line-height: 1em;
  background-color: var(--color-indicator-medium);
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: var(--color-indicator-medium-dark);
  }

  &--submit {
    min-width: 90px;
    padding: 12px;
    color: var(--color-text-main);
    font-weight: 500;
    font-size: 14.4px;
    background-color: var(--color-indicator-medium);
    border-radius: 4px;
  }
}
