@import "base.pcss";
@import "variables.pcss";
@import "home.pcss";
@import "pricing.pcss";

body {
  background: var(--color-bg-main);
  color: var(--color-text-main);
  display: flex;
  flex-direction: column;
}


.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 14px 0;

  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 35px;
  }

  &__nav {
    display: flex;
    margin-right: auto;

    &--current {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: -2px;
        height: 3px;
        right: -2px;
        opacity: .2;
        background: var(--color-text-main);
        border-radius: 4px;
      }
    }

    a {
      display: inline-block;
      margin-left: 20px;
    }
  }

  &__login-button {
    padding: 5px 14px;
    border-radius: 9px;
    border: solid 1px var(--color-text-main);
  }
}

.main-content {
  margin: 0 auto 72px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 70px 122px;

  @media (--media-mobile) {
    padding: 15px;
  }

  width: 90%;
  background-color: var(--color-bg-second);
}
