.yard-pricing {
  &__plans-wrapper {
    display: flex;
  }

  &__plan-item {
    margin-right: 20px;
  }
}

.plan-item {
  width: 220px;
  border-radius: 7px;

  &__header {
    border-radius: 7px 7px 0 0;
    height: 100px;
    background-position: center center;
    background-size: cover;
  }

  &__content {
    background-color: var(--color-bg-main);
    padding: 20px 25px;
    border-radius: 0 0 7px 7px;
  }

  &__name {
    font-size: 12px;
    font-weight: bold;
  }
  &__limit {
    margin-top: 10px;
    opacity: 0.6;
    font-size: 14px;
    font-weight: bold;
  }
  &__cost {
    margin-top: 20px;
    font-size: 13px;
    font-weight: bold;
  }
}
