:root {
  /** Texts */
  --color-text-gray: #8a97ab;
  --color-link-on-dark: #31ffac;
  --color-text-green: #00b693;

  /** Backgrounds */
  --color-background: #1d1d27;
}

/**
* Custom media queries
*/
@custom-media --media-desktop all and (min-width: 1050px);
@custom-media --media-mobile all and (max-width: 980px);
@custom-media --media-retina all and (-webkit-min-device-pixel-ratio: 1.5);