{% extends './layout.twig' %}

{% block body %}

  <div class="yard-home">
    <p class="yard-home__caption">
      Fast and lightweight errors tracking service. Backend and Frontend events monitoring.
    </p>
    <figure class="yard-home__figure">
      <a href="/garage">
        <img src="/assets/list.png" alt="Backend and Frontend errors monitoring">
      </a>
    </figure>

    <div class="yard-home__footer">
      Made with inspiration by <a href="//codex.so">CodeX</a>.
      <div class="fl_r">
        Feel free to leave a Feedback to the <a href="mailto:team@ifmo.su?subject=Hawk">team@ifmo.su</a>.
      </div>
    </div>
  </div>

{% endblock %}
