{% extends './layout.twig' %}

{% block body %}

  <div class="yard-page yard-pricing">
    <h2>Pricing</h2>
    <p>
      Hawk provides several plans with different volumes to cover most projects on all stages of growing.
    </p>
  </div>

{% endblock %}
