:root {
  --color-bg-main: #181B23;
  --color-bg-header: #242732;
  --color-text-main: #DBE6FF;
  --color-text-inversed: #242732;

  --layout-paddings-horisontal: 20px;
  --layout-main-col-width: 1024px;
}

svg {
  fill: currentColor;
}
